extends _layouts/default

block vars
    -title        = 'Karo | Trứng tươi - chà bông'
    -description  = ''
    -keywords     = ''
    -pageID       = 'top'
    -path         = '.'
block container
    
    .section-primary.bgCommon.h-fullscreen
        .position-relative
            img.w-100(loading='lazy' src='./assets/theme/images/index/index_giai_ty_phu.png?v=1.1.36' alt='')
            .form-content.mb-5
                form.d-inline-block(action='#')
                    .field.position-relative.mb-5
                        .icon_01
                            img(loading='lazy' src="./assets/theme/images/index/bieutuonginput.png?v=1.1.36", alt="")
                        .fieldinner
                            input#txtPhoneWinner(type='text' placeholder='Nhập mã code')
                    .field.position-relative.mb-5
                        .fieldinner
                            select.form-select()
                                option(selected='') Chọn nhà mạng
                                option(value='1') One
                                option(value='2') Two
                                option(value='3') Three
                    .field.position-relative.mb-5
                        .fieldinner
                            input#txtPhoneWinner(type='text' placeholder='Nhập số điện thoại')
                    .field.position-relative
                        .fieldinner.text-center
                            a.trans(href="#") 
                                img(loading='lazy' src="./assets/theme/images/index/dong_y.png?v=1.1.36", alt="")

    .section-secondary.h-fullscreen
        .position-relative
            .code
                a.d-inline-block.trans(href="#") 
                    img.w-100(loading='lazy' src='./assets/theme/images/btninputcode.png?v=1.1.36' alt='')
            img.w-100(loading='lazy' src='./assets/theme/images/index/index_giai_ty_phu_1_ty.png?v=1.1.36' alt='')

    .section-tertiary.h-fullscreen
        .position-relative
            .code
                a.d-inline-block.trans(href="#") 
                    img.w-100(loading='lazy' src='./assets/theme/images/index/xe_ngay.png?v=1.1.36' alt='')
            img.w-100(loading='lazy' src='./assets/theme/images/index/index_tong_giai_thuong.png?v=1.1.36' alt='')

    .section-giai-trung-moi-ngay.h-fullscreen
        .position-relative
            .number 199.999
            img.w-100(loading='lazy' src='./assets/theme/images/index/index_giai_trung_moi_ngay.png?v=1.1.36' alt='')
            .form-content
                form(action='#')
                    .field.position-relative
                        .icon_01
                            img(loading='lazy' src="./assets/theme/images/index/bieutuonginput.png?v=1.1.36", alt="")
                        .icon_02
                            img(loading='lazy' src="./assets/theme/images/index/200000_giai_3.png?v=1.1.36", alt="")
                        .fieldinner.d-flex
                            input#txtPhoneWinner(type='text' placeholder='Dò kết quả ngay!')
            
    .section-trieu-phu
        .position-relative
            h2.fnt-120 Triệu Phú Tháng 4
            .container
                .row.justify-content-center
                    .col-4
                        .millionaire
                            .head
                                .price 100 triệu
                                img.avatar(loading='lazy' src="./assets/theme/images/index/avatar_001.png?v=1.1.36", alt="")
                            .content
                                p.name Nguyễn Văn A
                                p.text 
                                    | Sđt : 0969.xxx.x84
                                    br
                                    | Địa chỉ : Quảng Bình
                    .col-4
                        .millionaire
                            .head
                                .price 100 triệu
                                img.avatar(loading='lazy' src="./assets/theme/images/index/avatar_002.png?v=1.1.36", alt="")
                            .content
                                p.name Nguyễn Văn A
                                p.text 
                                    | Sđt : 0969.xxx.x84
                                    br
                                    | Địa chỉ : Quảng Bình
                    .col-4
                        .millionaire
                            .head
                                .price 100 triệu
                                img.avatar(loading='lazy' src="./assets/theme/images/index/avatar_003.png?v=1.1.36", alt="")
                            .content
                                p.name Nguyễn Văn A
                                p.text 
                                    | Sđt : 0969.xxx.x84
                                    br
                                    | Địa chỉ : Quảng Bình
                p.text-center
                    img.max-100(loading='lazy' src="./assets/theme/images/index/trieuphu.png?v=1.1.36", alt="")
                        
    .section-giai-ty-phu
        .position-relative
            p.text-center
                img.max-100.mr-top(loading='lazy' src="./assets/theme/images/index/giai_ty_phu.png?v=1.1.36", alt="")
            p.text-center.mot-ty
                img.max-100(loading='lazy' src="./assets/theme/images/index/mo_ty.png?v=1.1.36", alt="")    
            .text-center.position-relative.mot_ty_dang_cho
                a.btn.trans
                    img.max-100(loading='lazy' src="./assets/theme/images/index/btn_xe_ngay.png?v=1.1.36", alt="")
                img.max-100.w-100(loading='lazy' src="./assets/theme/images/index/bg_002.png?v=1.1.36", alt="")

    .section-cach-thuc-tham-gia
        .position-relative
            h2.fnt-90 CÁCH THỨC THAM GIA
            p.text-center
                img.max-100(loading='lazy' src="./assets/theme/images/cach_thuc_tham_gia.png?v=1.1.36", alt="")
