extends _layouts/default

block vars
    -title        = 'Karo | Trứng tươi - chà bông'
    -description  = ''
    -keywords     = ''
    -pageID       = 'top'
    -path         = '.'
block container
    
    .tvcSection.bgCommon.h-fullscreen.overflow-hidden.px-5.px-xl-0.pb-5.mb-0.pb-xl-0.mb-xl-0
      .row.justify-content-center.align-items-end.pb-5
        .col-xl-3.d-none.d-xl-block
          .row.justify-content-end
            .col-7.col-xl-12.threehtkrewardtvcSection
              img.d-xl-none(loading='lazy' src='./assets/theme/images/300rewardtvc7683940.png?v=1.1.36' alt='300.000 giải thưởng với hàng ngàn giải mỗi ngày')
              .d-none.d-xl-block.resp
                img.w-auto.max-100(loading='lazy' src='./assets/theme/images/money.png?v=1.1.36' alt='300.000 giải thưởng với hàng ngàn giải mỗi ngày')
                img.w-auto.max-100(loading='lazy' src='./assets/theme/images/giai_ti_phu.png?v=1.1.36' alt='300.000 giải thưởng với hàng ngàn giải mỗi ngày')
              .d-flex.align-item-center
                .column
                  img.w-auto.max-100(loading='lazy' src='./assets/theme/images/200000_giai_thuong.png?v=1.1.36' alt='')
                .column
                  a(href="#")
                    img.w-auto.max-100(loading='lazy' src='./assets/theme/images/btn_nhap_code.png?v=1.1.36' alt='')
        .col-xl-6.order-xl-first
          .videoSection.mx-5.mx-xl-0
            .videothemetopbtm
              .videothemeleftright
                iframe(loading='lazy' width='560' height='315' src='https://www.youtube.com/embed/AStHGG87mlc' frameborder='0' allowfullscreen='')
        .col-12.d-block.d-xl-none

    .section-cach-thuc-tham-gia
        .position-relative
            h2.fnt-90 CÁCH THỨC THAM GIA
            p.text-center
                img.max-100(loading='lazy' src="./assets/theme/images/cach_thuc_tham_gia.png?v=1.1.36", alt="")

    .section-cach-thuc-nhan-giai
      .container
        .position-relative
            h2.fnt-90 CÁCH THỨC NHẬN GIẢI
            .clearfix
              .row.my-5
                .col-12.col-md-5
                  img.max-100(loading='lazy' src="./assets/theme/images/the-le/img_01.png?v=1.1.36", alt="")
                .col-12.col-md-7
                  .content-text
                    p.heading Giải trúng mỗi ngày
                    div.text 
                      span.icon.d-inline-block.pe-4
                        img.max-100(loading='lazy' src="./assets/theme/images/the-le/icon_01.png?v=1.1.36", alt="")
                      span.bold Khi trúng GIẢI TIỀN MặT 
                      | 10.000 VND; 20.000 VND; 50.000 VND; 500.000 VND sẽ có tin nhắn thông báo trúng thưởng và hệ thống tự động nạp đúng số tiền trúng thưởng 
                      span.red trực tiếp vào SĐT mà bạn đã đăng ký 
                      | trong vòng 24h sẽ có 
                      span.red tin nhắn xác nhận từ tổng đài 6020 
                      | kể từ khi có tin nhắn thông báo.
              .row.flex-row-reverse.my-5
                  .col-12.col-md-5
                    img.max-100(loading='lazy' src="./assets/theme/images/the-le/img_02.png?v=1.1.36", alt="")
                  .col-12.col-md-7
                    .content-text
                      p.heading Giải triệu phú “100 triệu mỗi tháng”
                      div.text 
                        p
                          span.icon.d-inline-block.pe-4
                            img.max-100(loading='lazy' src="./assets/theme/images/the-le/icon_02.png?v=1.1.36", alt="")
                          span.bold Quay livetream vào mỗi cuối tháng 
                          | *Cơ hội thành Triệu Phú trong tầm tay chỉ cần trong tháng bạn có nhập code (code tính từ đầu tháng đến cuối tháng). Sau khi trúng giải trong vòng 24h 
                          span.red sẽ có tin nhắn xác nhận từ tổng đài 6020
                          | và trong vòng (3 ngày kể từ ngày nhận được tin nhắn trúng thưởng) Tổng đài viên sẽ liên hệ trực tiếp đến SĐT người thắng giải đăng ký để hướng dẫn cách nhận giải
                        p
                          span.red Lần 1: 
                          span.bold livetream lúc 10h ngày 18/05/2022
                          br 
                          span.red Lần 2: 
                          span.bold livetream lúc 10h ngày 17/06/2022
                          br 
                          span.red Lần 3: 
                          span.bold livetream lúc 10h ngày 18/07/2022
              .row.my-5
                  .col-12.col-md-5
                    img.max-100(loading='lazy' src="./assets/theme/images/the-le/img_03.png?v=1.1.36", alt="")
                  .col-12.col-md-7
                    .content-text
                      p.heading Giải tỷ phú “1 tỷ ”
                      div.text 
                        p
                          span.icon.d-inline-block.pe-4
                            img.max-100(loading='lazy' src="./assets/theme/images/the-le/icon_03.png?v=1.1.36", alt="")
                          span.bold Trao vào cuối chương trình (ngày 08/07/2022) 
                          span.red *Cơ hội thành Tỷ Phú trong tầm tay khi bạn nhập code từ ngày 18/04 - 16/07/2022
                          | Sau khi trúng giải trong vòng 24h 
                          span.red sẽ có tin nhắn xác nhận từ tổng đài 6020. 
                          | Và trong vòng (3 ngày kể từ ngày nhận được tin nhắn trúng thưởng) Tổng đài viên sẽ liên hệ trực tiếp đến SĐT người thắng giải đăng ký để hướng dẫn cách nhận giải
                        p
                          spam.red Livestream 
                          span.bold lúc 10h ngày 18/07/2022



