.container-fluid.p-0(style='z-index: 10100;')
  .header(style='z-index: 10001;')
    h1.logo
      img.d-none.d-xl-block(src='./assets/theme/images/slogan.png' alt='Xé ngay trúng liền' loading='lazy')
      img.d-xl-none(src='./assets/theme/images/slogan768.png' alt='Xé ngay trúng liền' loading='lazy')
    .container
      ul.list-unstyled.nav-primary(style='z-index: 10001;')
        li
          a(href='/' class='active') Trang chủ
        li
          a(href='the-le-chuong-trinh.html' class='')
            | Thể lệ chương trình
        li
          a(href='danh-sach-trung-thuong.html' class='')
            | Danh sách trúng thưởng
